- name: "Disable firewalld on RedHat"
  become: true
  ansible.builtin.systemd:
    name: firewalld
    state: stopped
    enabled: false
  when: ansible_facts['os_family'] == "RedHat"

- name: "Disable ufw on Ubuntu"
  become: true
  ansible.builtin.systemd:
    name: ufw
    state: stopped
    enabled: false
  when: ansible_facts['os_family'] != "RedHat"
