---
- name: Install Active Directory Domain Services role and promote to a DC
  microsoft.ad.domain_controller:
    dns_domain_name: "{{ domain_name }}"
    safe_mode_password: "{{ safe_mode_pw }}"
    install_dns: true
    state: domain_controller
    reboot: true
    domain_admin_user: "{{ domain_admin_user }}"
    domain_admin_password: "{{ domain_admin_password }}"
  run_once: true
  register: ad_promo
...
