---
##like running "Add Roles and Features" in Server Manager.
- name: Install ADCS Framework
  ansible.windows.win_feature:
    name:
      - AD-Certificate
      - ADCS-Cert-Authority
      - RSAT-ADCS
    state: present
    include_management_tools: yes

- name: Install ActiveDirectoryCSDsc module from PSGallery
  community.windows.win_psmodule:
    name: ActiveDirectoryCSDsc
    state: present
    accept_license: yes

- name: configure root CA
  ansible.windows.win_dsc:
    resource_name: AdcsCertificationAuthority
    Ensure: Present
    IsSingleInstance: "Yes"
    CAType: EnterpriseRootCA
    CACommonName: "{{ ca_common_name }}"
    KeyLength: 2048
    HashAlgorithmName: SHA256
    CryptoProviderName: "RSA#Microsoft Software Key Storage Provider"
    ValidityPeriod: Years
    ValidityPeriodUnits: 5
    Credential_username: "{{ ansible_user }}"
    Credential_password: "{{ ansible_password }}"
  notify:
    - force update

- name: export public certificate to disk
  ansible.windows.win_shell: |
    $cert = Get-ChildItem Cert:\LocalMachine\CA | Where-Object { $_.Subject -like "*CN={{ ca_common_name }}*" }
    if (!$cert) { $cert = Get-ChildItem Cert:\LocalMachine\Root | Where-Object { $_.Subject -like "*CN={{ ca_common_name }}*" } }

    if ($cert) {
        Export-Certificate -Cert $cert[0] -FilePath "{{ cert_path_windows }}" -Force
        Write-Host "Certificate Exported"
    } else {
        Write-Error "Certificate not found!"
    }
  args:
    creates: "{{ cert_path_windows }}"

# 5. Fetch to Ansible Controller (Linux)
- name: fetch certificate to local machine
  ansible.builtin.fetch:
    src: "{{ cert_path_windows }}"
    dest: "{{ cert_path_local }}"
    flat: yes
...
