---
- name: Check if machine is already joined
  ansible.builtin.command: /usr/sbin/realm list
  register: realm_list
  changed_when: false

- name: Join the domain using realm
  ansible.builtin.command: 
    cmd: realm join --user="{{ domain_admin_user }}" {{ domain_name }} --verbose
  args:
    stdin: "{{ domain_admin_password }}"
  become: true     
  no_log: true     
  when: "'{{ domain_name }}' not in realm_list.stdout"

- name: ensure pam_mkhomedir is enabled (allow create home dirs for users)
  ansible.builtin.lineinfile:
    path: /etc/pam.d/common-session
    regexp: 'session required pam_mkhomedir.so skel=/etc/skel/ umask=0077'
    line: session required pam_mkhomedir.so skel=/etc/skel/ umask=0077
    state: present
  when: "'ubuntu_vms' in group_names"

- name: enable auto-creation of home directories (mkhomedir)
  ansible.builtin.command:
    cmd: authselect enable-feature with-mkhomedir
  register: authselect_result
  changed_when: "'No changes' not in authselect_result.stdout"
  when: "'redhat_vms' in group_names"

- name: ensure oddjobd service is enabled and running
  ansible.builtin.service:
    name: oddjobd
    state: started
    enabled: true
  when: "'redhat_vms' in group_names"
...